.bubble{
    animation: bubbles 3s linear infinite;
    background: #fff;
    border-radius: 50%;
    bottom: -150;
    opacity: .3;
    position: absolute;
}

.bubble:nth-child(1){
    animation-delay: 3s;
    animation-duration: 3s;
    height: 80px;
    left: 5%;
    width: 80px;
}

.bubble:nth-child(2){
    animation-delay: 5s;
    animation-duration: 3s;
    height: 100px;
    left: 35%;
    width: 100px;
}

.bubble:nth-child(3){
    animation-delay: 7s;
    animation-duration: 3s;
    height: 20px;
    left: 15%;
    width: 20px;
}

.bubble:nth-child(4){
    animation-delay: 4s;
    animation-duration: 3s;
    height: 50px;
    left: 90%;
    width: 50px;
}

.bubble:nth-child(5){
    animation-delay: 1s;
    animation-duration: 3s;
    height: 70px;
    left: 65%;
    width: 70px;
}

.bubble:nth-child(6){
    animation-delay: 5s;
    animation-duration: 3s;
    height: 20px;
    left: 50%;
    width: 20px;
}

.bubble:nth-child(7){
    animation-delay: 4s;
    animation-duration: 3s;
    height: 20px;
    left: 50%;
    width: 20px;
}

.bubble:nth-child(8){
    animation-delay: 5s;
    animation-duration: 3s;
    height: 100px;
    left: 52%;
    width: 100px;
}

.bubble:nth-child(9){
    animation-delay: 3s;
    animation-duration: 3s;
    height: 65px;
    left: 51%;
    width: 65px;
}

.bubble:nth-child(10){
    animation-delay: 3s;
    animation-duration: 3s;
    height: 40px;
    left: 35%;
    width: 40px;
}

@keyframes bubbles {
    0%{
        bottom:0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px)
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}