.bubble {
    animation: bubbles linear infinite;
    background: #fff;
    border-radius: 50%;
    bottom: -10%;
    opacity: 0.4; /* Se inician visibles */
    position: absolute;
}

@keyframes bubbles {
    0% {
        bottom: -10%;
        transform: translateX(0);
    }
    30% {
        transform: translateX(calc(-30px + 60px * random())); /* Movimiento lateral aleatorio */
    }
    50% {
        opacity: 0.4;
    }
    100% {
        bottom: 100vh;
        opacity: 0;
        transform: translateX(calc(-50px + 100px * random())); /* Movimiento más dinámico */
    }
}
